.dashboard-container {
    padding-top: 50px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px
  }
  
  .charts-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
  }
  
  /* Individual chart item styling */
  .chart-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
  }
  
  /* Heading styling for each chart */
  .chart-item h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
  }
  .recharts-tooltip-wrapper {
    font-size: 10px !important; /* Reduce font size */
  }
  
  /* Style for status cards */
  .status-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .status-label {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .status-value {
    font-size: 18px;
    font-weight: bold;
    color: #444;
  }
  
  /* Specific color styling for status labels */
  .status-label.gray { color: gray; }
  .status-label.green { color: green; }
  .status-label.blue { color: blue; }
  .status-label.darkgreen { color: darkgreen; }
  .status-label.red { color: red; }
  .status-label.orange { color: orange; }
  .status-label.purple { color: purple; }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
  }
  
  /* Main Data Cards */
  .card {
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    color: #333;
    cursor: pointer;
  }
  
  .card:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Background Colors */
  .green { background-color: #d1fae5; }
  .blue { background-color: #bfdbfe; }
  .yellow { background-color: #fef9c3; }
  .lightgreen { background-color: #bbf7d0; }
  .red { background-color: #fecaca; }
  .purple { background-color: #e9d5ff; }
  .indigo { background-color: #c7d2fe; }
  
  /* Card Text */
  .card-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    color:'black'
  }
  
  .card-value {
    font-size: 18px;
    font-weight: 700;
  }
  
  /* Status Cards */
  .status-card {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .status-card:hover {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
  }
  
  .status-label {
    font-size: 16px;
    font-weight: 500;
  }
  
  .status-value {
    font-size: 20px;
    font-weight: 700;
  }
  .card-header {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .icon {
    font-size: 30px;
    color: #444;
  }
  
  .status-left {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  
  /* Text Colors */
  .gray { color: #6b7280; }
  .green { color: #065f46; }
  .blue { color: #2563eb; }
  .darkgreen { color: #064e3b; }
  .red { color: #dc2626; }
  .orange { color: #ea580c; }
  .purple { color: #7c3aed; }
  